.contact-link {
    position: relative;
    
}

.contact-link > img {
    width: 25px;
}

.contact-link > span {
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: 42px;
    background-color: rgba(18, 111, 183,.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    overflow: hidden;
    transition: all .5s ease;
    color: var(--main-blue);
    font-weight: 900;
    text-transform: uppercase;
    font-size: .9rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media screen and (min-width: 1380px) {
    .contact-link:hover.contact-link > span {
        width: 80px;
    }
}