.projects {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.projects h2 {
    font-size: 1.8rem;
    padding-top: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    font-weight: 900;
}

.projects h2 span {
    color: var(--violet);
}

.projects p {
    font-size: 1.1rem;
    text-align: center;
    color: var(--color-font);
    
}