.project-component {
    width: 95%;
    max-width: 370px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
    box-shadow: var(--shadow-container);
    background-color: rgba(247,247,247);
}

.project-img-ctn {
    width: 100%;
    max-width: 400px;
    height: 200px;
    overflow: hidden;
    box-shadow: var(--shadow-container);
}

.project-img-ctn > img {
    width: 100%; 
}

.project-img-ctn > img:hover {
    animation: scrolling 2s ease-in infinite;
}

@keyframes scrolling {
    from {
        margin-top: 0;
    }
    to {
        margin-top: -25%;
    }
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
}

.project-info > h3 {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.5rem;
    color: #333;
}

.project-info > p{
    max-width: 400px;
    color: var(--color-font);
    color: #333;
}

.technologies-ctn {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.technology {
   background-color: var(--violet);
   padding: 4px 15px;
   border-radius: 6px;
   box-shadow: var(--shadow-container);
   font-weight: 900;
   color: #fff;
}

.technologies-links {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.technologies-links > a {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-container);
}

.technologies-links > a > img {
    width: 30px;
    transition: all .5s ease;
}

.technologies-links > a:hover > img {
    transform: scale(1.3);
}

@media screen and (min-width: 930px) {
    .project-component {
        max-width: 900px;
    }
}

@media screen and (min-width: 1220px) {
    .project-component {
        gap: 50px;
        padding: 35px 25px;
    }
    .project-img-ctn {
        height: 220px;
    }
    .project-info {
        gap: 5px;
    }
    .project-info > h3 {
        margin-top: 0;
    }
    .technologies-ctn {
        gap: 10px;
        justify-content: space-around;
    }
}