.about-section {
    background-color: #fff;
    padding: 0 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.about-section > h2 {
    font-size: 1.8rem;
    padding-top: 69px;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    font-weight: 900;
}

.about-section > h2 span {
    color: var(--violet);
}

.paragraph-ctn {
    max-width: 900px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.paragraph-ctn > img {
    display: none;
    width: 100%;
    max-width: 400px;
}

.about-section__texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.paragraph-ctn > .about-section__texts h3 {
    margin-bottom: 10px;
}

.paragraph-ctn > .about-section__texts p {
    color: var(--color-font);
    font-size: 1.1rem;
}

@media screen and (min-width: 800px) {
    .about-section {
        min-height: 80vh;
        justify-content: center;
        gap: 40px;
    }
    .about-section > h2 {
        font-size: 2.5rem;
    }
    .paragraph-ctn > img {
        display: block;
    }
}