.contact-form {
    width: 100%;
    max-width: 900px;
    background:  radial-gradient(rgba(18, 111, 183, .3), rgba(107, 118, 136, .3), rgba(18, 111, 183, .2));
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
    box-shadow: var(--shadow-container);
    margin-top: 30px;
}

.contact-form > label {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.contact-form > input,  .contact-form > textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 20px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1rem;
}

.contact-form > textarea {
    height: 100px;
    resize: none
}

.contact-form > input:focus,  .contact-form > textarea:focus {
    outline: none;
}

.contact-form > input[type=submit] {
    width: 100px;
    background-color: rgba(18, 111, 183, .7);
    box-shadow: var(--shadow-container);
    color: var(--secondary-background);
    text-shadow: 1px 1px 1px #000;
    font-size: .8rem;
    font-weight: 700;
    cursor: pointer;
    margin: 10px 0 0;
    text-transform: uppercase;
    transition: all .5s ease;
    padding: 10px;
}

.contact-form > input[type=submit]:hover {
    background-color: rgba(18, 111, 183, .9);
}

@media screen and (min-width: 1220px) {
    .contact-form {
        padding: 60px 50px;
        gap: 10px;
    }
    .contact-form > input,  .contact-form > textarea {
        margin-bottom: 20px;
        padding: 20px;
    }
    .contact-form > textarea {
        height: 120px;
    }
    .contact-form > input[type=submit] {
        width: 250px;
        font-size: 1.2rem;
        padding: 12px;
    }
}
