.main-header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 1.5rem;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='440' height='1000' preserveAspectRatio='none' viewBox='0 0 440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3cpath d='M220 871.62C316.49 869.44 411.62 827.11 471.12 751.12 525.42 681.76 510.43 588.09 510.94 500 511.45 411.06 530.56 314.63 474.01 245.99 413.94 173.06 314.32 141.37 220 146.88 130.27 152.11 54.62 207.67-6 274-63.49 336.87-96.51 415.03-102.86 500-109.87 593.13-103.95 692.17-42.68 762.68 21.95 837.08 121.5 873.83 220 871.62' fill='rgba(18%2c 111%2c 183%2c 0.11)'%3e%3c/path%3e%3cpath d='M220 740.46C282.44 739.05 343.99 711.66 382.49 662.49 417.63 617.61 407.92 557 408.25 500 408.58 442.45 420.95 380.06 384.36 335.64 345.49 288.45 281.03 267.94 220 271.51 161.94 274.9 112.99 310.84 73.77 353.77 36.56 394.44 15.2 445.02 11.09 500 6.56 560.26 10.38 624.34 50.03 669.97 91.85 718.11 156.27 741.89 220 740.46' fill='rgba(39%2c 116%2c 198%2c 0)'%3e%3c/path%3e%3cpath d='M220 609.3C248.38 608.66 276.36 596.21 293.86 573.86 309.83 553.46 305.42 525.91 305.57 500 305.72 473.84 311.34 445.48 294.71 425.29 277.04 403.84 247.74 394.52 220 396.14 193.61 397.68 171.36 414.02 153.53 433.53 136.62 452.02 126.91 475.01 125.04 500 122.98 527.39 124.72 556.52 142.74 577.26 161.75 599.14 191.03 609.95 220 609.3' fill='rgba(72%2c 143%2c 219%2c 0.08)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
} 

.introducing-titles {
    width: 100%;
    max-width: 600px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main-header__titles {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
}

.main-header__titles > h1 {
    font-size: 2.4rem;
    font-weight: 900;
    text-transform: uppercase;
}

.main-header__titles > h1 > span {
    color: var(--violet);
}

.main-header__titles > p {
    font-size: 1.1rem; 
    margin-bottom: 15px;
}

.main-header__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 265px;
    gap: 35px;
    padding: 10px 30px 6px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: var(--shadow-container);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.main-header__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main-header__link > a:first-child{
    position: relative;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 3px solid var(--violet);
    background-color: var(--main-color);
    transition: all .4s ease-in;
    overflow: hidden;
}

.main-header__link > a:first-child > span {
    position: relative;
    z-index: 2;
    color: var(--violet);
    transition: all .4s ease-in;
    font-weight: 900;
}

.main-header__link > a:first-child::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 300px;
    z-index: 1;
    top: -300px;
    left: 0;
    transition: all .5s ease-in;
    background-color: var(--violet);
    border-radius: 0px 0px 300px 300px;
}

.main-header__link > a:first-child:hover::after {
    top: 0;
}
.main-header__link > a:hover > span {
    color: #fff;
}

.main-header__link a:nth-child(2) {
    position: relative;
    padding: 10px 7px;
    border: 3px solid var(--violet);
    background-color: var(--violet);
    color: #fff;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 1s ease;
    z-index: 5;
    overflow: hidden;
}

.main-header__link a:nth-child(2) > span {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 5;
    color: #fff;
    transition: all 1s ease;
}
.main-header__link a:nth-child(2)::before {
    position: absolute;
    content: '';
    width: 130%;
    height: 48px;
    z-index: -1;
    top: -3px;
    left: -220px;
    transition: all .5s ease-in;
    background-color: var(--background-main-color);
    border-radius: 0px 300px 300px 0px;
}
.main-header__link a:nth-child(2):hover span {
    color: var(--color-button);
}
.main-header__link a:nth-child(2):hover {
    border-color: var(--color-button);
}
.main-header__link a:nth-child(2):hover::before {
    left: -3px;
}

.img-svg {
    width: 22px;
    color: #fff;
}

.introducing-image {
    display: none;
    width: 100%;
    max-width: 500px;
}

.introducing-image img {
    width: 100%;
}

@media screen and (min-width: 800px) {
    .main-header__titles > h1 {
        font-size: 3rem;
    }
    .main-header__titles > p {
        font-size: 1.2rem;
    }
    .main-header__link > a:first-child {
        font-size: 1.1rem;
    }
    .main-header__link > a:nth-child(2) {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1380px) {
    .main-header {
        flex-direction: row;
    }
    .introducing-titles {
        max-width: 600px;
       gap: 20px;
    }
    .main-header__titles {
        text-align: left;
        gap: 0;
    }
    .main-header__navigation {
        position: fixed;
        flex-direction: column;
        left: 2.5rem;
        top: 50%;
        transform: translateY(-50%);
        padding: 20px 15px;
    }
    .main-header__link {
        justify-content: start;
    }
    .main-header__link > a:first-child {
        padding: 10px 35px;
    }
    .main-header__link > a:nth-child(2) {
        padding: 10px 17px;
    }
    .introducing-image {
        display: flex;
    }
}

