.main-header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 1.5rem;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='473' height='996' preserveAspectRatio='none' viewBox='0 0 473 996'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1143%26quot%3b)' fill='none'%3e%3cpath d='M236.5 836.3C330.61 842.05 426.59 821.17 497.31 758.81 572.25 692.75 621.99 597.86 620.12 498 618.25 399.64 559.26 314.33 487.66 246.84 418.47 181.6 331.53 133.18 236.5 136.31 143.99 139.37 64.12 194.86 1.36 262.86-58.59 327.8-98.23 409.63-97.41 498-96.6 585.62-55.9 666.5 5.64 728.86 67.62 791.66 148.44 830.93 236.5 836.3' fill='rgba(18%2c 111%2c 183%2c 0.11)'%3e%3c/path%3e%3cpath d='M236.5 716.9C297.4 720.62 359.5 707.11 405.26 666.76 453.75 624.02 485.94 562.61 484.73 498 483.52 434.35 445.35 379.16 399.01 335.49 354.24 293.27 297.99 261.94 236.5 263.96 176.64 265.94 124.96 301.85 84.35 345.85 45.56 387.87 19.91 440.82 20.44 498 20.97 554.69 47.3 607.03 87.12 647.38 127.23 688.01 179.52 713.42 236.5 716.9' fill='rgba(39%2c 116%2c 198%2c 0)'%3e%3c/path%3e%3cpath d='M236.5 597.5C264.18 599.19 292.41 593.05 313.21 574.71 335.25 555.28 349.88 527.37 349.33 498 348.78 469.07 331.43 443.98 310.37 424.13 290.02 404.94 264.45 390.7 236.5 391.62 209.29 392.52 185.8 408.84 167.34 428.84 149.71 447.94 138.05 472.01 138.29 498 138.53 523.77 150.5 547.56 168.6 565.9 186.83 584.37 210.6 595.92 236.5 597.5' fill='rgba(72%2c 143%2c 219%2c 0.08)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1143'%3e%3crect width='473' height='996' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
} 

.introducing-titles {
    width: 100%;
    max-width: 600px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main-header__titles {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
}

.main-header__titles > h1 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 45px;
}

.main-header__titles > h1 > span {
    color: var(--violet);
}

.main-header__titles > p {
    font-size: 1.1rem; 
    margin-bottom: 15px;
}

.main-header__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 265px;
    gap: 35px;
    padding: 10px 30px 6px;
    background: var(--nav-background);
    border-radius: 16px;
    box-shadow: var(--shadow-container);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.main-header__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main-header__link > a:first-child{
    position: relative;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 3px solid var(--violet);
    background-color: var(--main-color);
    transition: all .4s ease-in;
    overflow: hidden;
}

.main-header__link > a:first-child > span {
    position: relative;
    z-index: 2;
    color: var(--violet);
    transition: all .4s ease-in;
    font-weight: 900;
}

.main-header__link > a:first-child::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 300px;
    z-index: 1;
    top: -300px;
    left: 0;
    transition: all .5s ease-in;
    background-color: var(--violet);
    border-radius: 0px 0px 300px 300px;
}

.main-header__link > a:first-child:hover::after {
    top: 0;
}
.main-header__link > a:hover > span {
    color: #fff;
}

.main-header__link a:nth-child(2) {
    position: relative;
    padding: 10px 7px;
    border: 3px solid var(--color-button);
    background-color: var(--color-button);
    color: #fff;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 1s ease;
    z-index: 5;
    overflow: hidden;
}

.main-header__link a:nth-child(2) > span {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 5;
    color: #fff;
    transition: all 1s ease;
}

.main-header__link a:nth-child(2)::before {
    position: absolute;
    content: '';
    width: 130%;
    height: 48px;
    z-index: -1;
    top: -3px;
    left: -220px;
    transition: all .5s ease-in;
    background-color: var(--background-main-color);
    border-radius: 0px 300px 300px 0px;
}
.main-header__link a:nth-child(2):hover span {
    color: var(--color-button);
}
.main-header__link a:nth-child(2):hover {
    border-color: var(--color-button);
}
.main-header__link a:nth-child(2):hover::before {
    left: -3px;
}

.img-svg {
    width: 22px;
    color: #fff;
}

.introducing-image {
    display: none;
    width: 100%;
    max-width: 500px;
}

.introducing-image img {
    width: 100%;
}

@media screen and (min-width: 800px) {
    .main-header__titles > h1 {
        font-size: 3.4rem;
    }
    .main-header__titles > p {
        font-size: 1.2rem;
    }
    .main-header__link > a:first-child {
        font-size: 1.1rem;
    }
    .main-header__link > a:nth-child(2) {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1380px) {
    .main-header {
        flex-direction: row;
    }
    .introducing-titles {
        max-width: 600px;
       gap: 20px;
    }
    .main-header__titles {
        text-align: left;
        gap: 0;
    }
    .main-header__titles > h1 {
        line-height: 60px;
        margin-bottom: 10px;
        line-height: 55px;
    }
    .main-header__navigation {
        position: fixed;
        flex-direction: column;
        left: 2.5rem;
        top: 50%;
        transform: translateY(-50%);
        padding: 20px 15px;
    }
    .main-header__link {
        justify-content: start;
    }
    .main-header__link > a:first-child {
        padding: 10px 35px;
    }
    .main-header__link > a:nth-child(2) {
        padding: 10px 17px;
    }
    .introducing-image {
        display: flex;
    }
}

