.main-header {
    display: flex;
    height: 100vh;
    padding: 69px 1.5rem;
    flex-direction: column;
    justify-content: center; 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='440' height='1000' preserveAspectRatio='none' viewBox='0 0 440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3cpath d='M220 810.22C303.44 807.73 383.88 781.83 445.45 725.45 509.99 666.4 561.6 587.45 558.95 500 556.36 414.39 491.49 349.62 432.19 287.81 371.06 224.09 307.79 156.36 220 146.74 123.92 136.2 23.99 167.28-44.42 235.58-112.83 303.92-138.5 403.44-133.7 500-129.15 591.83-88.52 678.77-19.39 739.39 45.65 796.45 133.54 812.8 220 810.22' fill='rgba(49%2c 59%2c 172%2c 0.09)'%3e%3c/path%3e%3cpath d='M220 700.73C273.99 699.12 326.04 682.36 365.88 645.88 407.64 607.67 441.03 556.58 439.32 500 437.65 444.6 395.67 402.69 357.3 362.7 317.75 321.47 276.8 277.65 220 271.42 157.83 264.6 93.17 284.71 48.91 328.91 4.64 373.13-11.97 437.52-8.87 500-5.92 559.42 20.37 615.68 65.1 654.9 107.18 691.82 164.05 702.4 220 700.73' fill='rgba(237%2c 242%2c 248%2c 0.1)'%3e%3c/path%3e%3cpath d='M220 591.24C244.54 590.51 268.2 582.89 286.31 566.31 305.29 548.94 320.47 525.72 319.69 500 318.93 474.82 299.85 455.77 282.41 437.59 264.43 418.85 245.82 398.93 220 396.1 191.74 393 162.35 402.14 142.23 422.23 122.11 442.33 114.56 471.6 115.97 500 117.31 527.01 129.26 552.58 149.59 570.41 168.72 587.19 194.57 592 220 591.24' fill='rgba(107%2c 118%2c 136%2c 0.07)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    gap: 90px;
} 

.main-header__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 935px;
}

.main-header__titles h1 {
    padding-top: 69px;
    font-size: 2.4rem;
    text-align: center;
    color: #030303;
    font-weight: 900;
    text-transform: uppercase;
}

.main-header__titles h1 span {
    color: var(--violet);
}

.main-header__titles p {
    max-width: 800px;
    font-size: 1.1rem;
    text-align: center;
    color: var(--color-font); 
    color: #333;
    margin-bottom: 15px;
}

.main-header__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 7px 30px 3px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: var(--shadow-container);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.main-header__navigation a img {
    width: 25px;
}

.main-header__link {
    display: flex;
    justify-content: center;
}

.main-header__link a{
    position: relative;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 700;
    border: 3px solid var(--violet);
    background-color: var(--main-color);
    transition: all .4s ease-in;
    overflow: hidden;
}

.main-header__link a span {
    position: relative;
    z-index: 2;
    color: var(--violet);
    transition: all .4s ease-in;
    /* text-shadow: 1px 1px 1px #333; */
    font-weight: 900;
}

.main-header__link a::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 300px;
    z-index: 1;
    top: -300px;
    left: 0;
    transition: all .5s ease-in;
    background-color: var(--violet);
    border-radius: 0px 0px 300px 300px;
}

.main-header__link a:hover::after {
    top: 0;
}
.main-header__link a:hover span {
    color: #fff;
}

