.logo-ctn {
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.iniciales-ctn {
    display: flex;
    gap: 2px; 
    height: 27px;
    justify-content: center;
    align-items: center;
}

.iniciales-ctn > span {
    display: block;
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--violet);
    padding: 1px 2px 6px;
}

.iniciales-ctn > span:first-child {
    background-color: var(--violet);
    color: #fff;
    
}


.slogan-ctn {
    position: relative;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    background-color: inherit;
}

.line {
    height: 2px;
    width: 100%;
    background-color: var(--violet);
}
.line::after {
    position: absolute;
    content: 'developer';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
    padding: 0 5px;
    text-transform: uppercase;
    font-weight: 900;
    background-color: rgba(255,255,255);
    color: #333;
}