.skills-section {
    background-color: var(--background-main-color);
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.skills-section > h2 {
    font-size: 1.8rem;
    padding-top: 69px;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    font-weight: 900;
    
}

.skills-section > h2 > span {
    color: var(--violet);
}

.skills-section > p {
    text-align: center;
    font-size: 1.1rem;
}

.skills-section__technologies {
    padding: 25px;
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section__technologies > p {
    max-width: 900px;
    font-size: 1.1rem;
    text-align: center;
}

.skills-section__technologies > p span {
    font-weight: 900;
}


@media screen and (min-width: 800px) {
    .skills-section {
        min-height: 100vh;
        justify-content: center;
    }
    .skills-section > h2 {
        font-size: 2.5rem;
    }
    .skills-section__technologies {
        padding: 50px;
    }
}
