.skills-section {
    background-color: var(--background-main-color);
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.skills-section > h2 {
    font-size: 1.8rem;
    padding-top: 69px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    
}

.skills-section > h2 > span {
    color: var(--violet);
}

.skills-section > p {
    text-align: center;
    font-size: 1.1rem;
    line-height: 55px;
    font-weight: 600;
    text-decoration: underline;
}

.skills-section__technologies {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
    gap: 25px;
}

.skills-section__technologies > p {
    max-width: 900px;
    font-size: 1.1rem;
    text-align: center;
    line-height: 30px;
}

.skills-section__technologies > p span {
    font-weight: 700;
}

.skills-section__technologies > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 865px;
    padding: 10px 20px;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}

.skills-section__technologies > ul li {
    background-color: var(--violet);
    padding: 5px 10px;
    box-shadow: var(--shadow-container);
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    border-radius: 5px;
}




@media screen and (min-width: 800px) {
    .skills-section {
        min-height: 100vh;
        justify-content: center;
    }
    .skills-section > h2 {
        font-size: 2.2rem;
    }
    .skills-section__technologies {
        padding: 50px;
    }
    .skills-section__technologies > ul {
        flex-direction: row;
    }
}
