* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Exo;
    src: url('./fonts/Exo2-SemiBold.ttf');
    font-display: swap;
}

@font-face {
    font-family: Exo-regular;
    src: url('./fonts/Exo2-Regular.ttf');
    font-display: swap;
}

:root {
    --color-font: #030303;
    --background-main-color: rgb(237, 242, 248);
    --secondary-color-font: #333;
    --secondary-background: #fff;
    --main-blue: #126fb7;
    --shadow-container: 1px 2px 10px -4px rgba(0, 0, 0, .5);
    --technology-background: rgba(247,247,247);
    --color-button: #000;
    --nav-background: rgba(242,245,250, .5);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-main-color);
    font-family: Exo-regular, sans-serif;
    color: var(--color-font);
}

.title-font {
    font-family: Exo, sans-serif;
}
